section.our-services
  .title 
    h2 our services
  .container 
    .our-services__cards 
      .our-services__card
        .our-services__card-img
          img(src=require("../../../assets/images/network.svg").default, alt="network.svg")
        span.our-services__text-card Web sites
      .our-services__card
        .our-services__card-img
          img(src=require("../../../assets/images/mobile-launch.svg").default, alt="mobile-launch.svg")
        span.our-services__text-card Mobile application
      .our-services__card
        .our-services__card-img
          img(src=require("../../../assets/images/shopping-bag.svg").default, alt="shopping-bag.svg")
        span.our-services__text-card Ecommerce
      .our-services__card
        .our-services__card-img
          img(src=require("../../../assets/images/monitor-touch.svg").default, alt="monitor-touch.svg")
        span.our-services__text-card DevOps
      .our-services__card
        .our-services__card-img
          img(src=require("../../../assets/images/server.svg").default, alt="server.svg")
        span.our-services__text-card IoT
      .our-services__card
        .our-services__card-img
          img(src=require("../../../assets/images/server.svg").default, alt="shape.svg")
        span.our-services__text-card 3D Diesign + AR
    a(href="services.html")
      .button.button-blue Know more


        